@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
min-height: 100vh;
display: grid;
place-content: center;
font-size: 16px;
background-color: #F2EAE2;
}



.card-container {
overflow: hidden;
display: flex;
flex-direction: column;
min-block-size: 46.875em;
min-inline-size: 21.875em;
border-radius: 8px;
background-color: white;
}


.product-picture > img {
    block-size: stretc;
    inline-size: 100%;
    max-block-size: auto;
    object-fit: cover;
    object-position: 100% 40%;

}

.product-container {
    display: grid;
    row-gap: 24px;
    padding: 32px;
    block-size: 100%;
}

.product-info {
    display: grid;
    row-gap: 24px;
}

.product-category {
    font-family: "Montserat", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.313em;
    line-height: 120%;
    font-weight: 500;
    color: #6C7289;
}

.product-title {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1C232B;
}

.product-description {
    color: #6C7289 ;
    font-family: "Fraunces", sans-serif;
    font-weight: 500;
    line-height: 160%;
    font-size: 0.875rem;
}

.prices-container {
    display: flex;
}

.discounted-price {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #3D8168;
}

.old-price {
    text-decoration: line-through;
    justify-self: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 120%;
    color: #6C7289;
    font-size: 0.813;
    padding: 8px 0 8px 16px;
}

.add-cart-button{
    max-block-size: 50px;
    border-radius: 0.5em;
    background-color: #3D8168;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: "Montserrat", sans-serif;
    font-size: .875rem;
    font-weight: 700;
    border: none;
    padding: 1rem 2rem;
}


/* Media Querries */
@media (min-width: 600px) {
    .card-container {
    display: flex;
    min-block-size: 0;
    max-inline-size: 600px;
    min-block-size: 456px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    }

    .product-container {
       flex: 1;
       row-gap: 2rem;
    }

    .product-picture {
        inline-size: 50%;
        block-size: 100%;
    }

    .product-picture > img {
        block-size: 100%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}


.add-cart-button:hover {
    background-color: #1A4032;
    cursor: pointer;
}